<div class="text-center">
    <div>Imię          <input type="text" name="firstname"></div>
    <div>Nazwisko      <input type="text" name="lastname"></div>
    <div>Nr telefonu   <input type="text" name="telephone"></div>
    <div>Obecny pojazd <input type="text" name="car"></div>
    <input type="submit" value="Prześlij">
</div>